{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Generar Rondas</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="torneo">Seleccionar Torneo</label>
            <select id="torneo" name="torneo_id" class="form-control">
                {% for torneo in torneos %}
                    <option value="{{ torneo.id }}">{{ torneo.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Generar Rondas</button>
    </form>
</div>
{% endblock %}